<app-main></app-main>


<div class="col-sm-12 col-md-10 col-lg-9 card mt-5 mx-auto" style="padding:0%;margin-left:0%;margin-right:0%;width: 100%">
    <div class="card">
        <div class="card-header text-center" appBackgroundColor><strong> Most Needed Items management</strong></div>


        <div></div>
        <div></div>

        <div><img src="/assets/most_items_needed.png" width='100%' height='60%' alt="Graph representing the most needed items"></div>

    <!--<div class="card">
        <div class="card-header text-center" appBackgroundColor><strong>Task Entry</strong></div>
    <form #taskForm="ngForm" (ngSubmit)="saveAsset(taskForm)">
        <div class="container pt-3">
            
        <div class="form-group row pt-1">
            <label class="col-sm-4 col-form-label">Task Type</label>
        <div class="col-sm-7">
          <select required placeholder="select type" [(ngModel)]="task.taskType" name="taskType"  class="form-control match-content">
            <option value="" selected> Select Task Type </option>
            <option *ngFor="let taskType of taskTypes" [value]="taskType">{{taskType}}</option>
          </select>
       </div>
        </div>
    
        <div class="form-group row pt-1">
            <label class="col-sm-4 col-form-label">Website</label>
        <div class="col-sm-7">
          <select required placeholder="select type" [(ngModel)]="task.website" name="website"  class="form-control match-content">
            <option value="" selected> Select Website Type </option>
            <option *ngFor="let website of websites" [value]="website">{{website}}</option>
          </select>
       </div>
        </div>


        <div class="form-group row pt-1">
            <label class="col-sm-4 col-form-label">Title</label>
            <div class="col-sm-7">
              <input required type="text" [(ngModel)]="task.tasktitle" name="tasktitle" class="form-control">
            </div>
        </div>

        <div class="form-group row pt-1">
  
            <label class="col-sm-4 col-form-label">Start Date</label>
            <div class="col-sm-7">
              <ejs-datepicker required format='dd/MM/yyyy' id='datepicker' placeholder='Select Start Date' [(ngModel)]='task.startDate' name="startDate"></ejs-datepicker>
            </div>
        </div>

        <div class="form-group row pt-1">
  
            <label class="col-sm-4 col-form-label">End Date</label>
            <div class="col-sm-7">
              <ejs-datepicker required format='dd/MM/yyyy' id='datepicker' placeholder='Select End Date' [(ngModel)]='task.endDate' name="endDate"></ejs-datepicker>
            </div>
        </div>

        <div class="form-group row pt-1">
            <label class="col-sm-4 col-form-label">Link</label>
            <div class="col-sm-7">
              <input required type="text" [(ngModel)]="task.link" name="link" class="form-control">
            </div>
        </div>

        <div class="form-group row pt-1">
            <label class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-7">
              <input required type="text" [(ngModel)]="task.remarks" name="remarks" class="form-control">
            </div>
        </div>


       
      <div class="form-group row pt-1">
  
        <label class="col-sm-4 col-form-label">Asset Model Name</label>
        <div class="col-sm-7">
          <input required type="text" [(ngModel)]="asset.assetModelName" name="assetModelName" class="form-control">
          
        </div>
      </div>
      
      
  
      
  
      <div class="form-group row pt-1">
          
          <label class="col-sm-4 col-form-label">Asset Serial No</label>
          <div class="col-sm-7">
          <span *ngIf="qrstring!=''">
          <input required type="text"  [(ngModel)]="asset.assetSerialNo" name="assetSerialNo" class="form-control" disabled/>
          </span>
          <span *ngIf="qrstring==''">
              <input required type="text" [(ngModel)]="asset.assetSerialNo" name="assetSerialNo" class="form-control"/>
          </span>
          </div>
        </div>
     
    
      <div class="form-group row pt-1">
  
        <label class="col-sm-4 col-form-label">Purchase Date</label>
        <div class="col-sm-7">
          <ejs-datepicker required format='dd/MM/yyyy' id='datepicker' placeholder='Select Purchase Date' [(ngModel)]='asset.purchaseDate' name="purchaseDate"></ejs-datepicker>
        </div>
      </div>
      
      
     
      <div class="form-group row pt-1">
  
        <label class="col-sm-4 col-form-label">Product Cost </label>      
        <div class="col-sm-7">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">₹</span>
                </div>
              
          <input required type="number" [(ngModel)]="asset.productCost" name="productCost" class="form-control">
            </div>
        </div>
      </div>
  
      
      <div class="form-group row pt-1">
  
        <label class="col-sm-4 col-form-label">Location</label>
        <div class="col-sm-7">
          <select required placeholder="Select Location" [(ngModel)]="asset.location" name="location"  class="form-control match-content">
            <option value="" selected>Select Location</option>
            <option *ngFor="let location of assetLocations" [value]="location">{{location}}</option>
          </select>
        </div>
      </div>-->
      <!--<div class="text-center py-2">
        <button class="btn btn-success " type="submit" [disabled]="!taskForm.valid">Save Task</button>&nbsp;&nbsp;
      </div>
  </div>
  <div class="alert alert-success" [ngStyle]="{'display':alertSuccess}">
    <div>{{message}}</div>
  </div>
  
  </form>
  </div>-->
  </div>