.navbar-custom{
    background-image: none;
    background-color: lightskyblue;
    color: black;
    height:relative;
    padding-top: 15px;
    padding-bottom: 5px;
    position: sticky;
}

.navbar-custom .navbar-nav > li > a {
    color:black;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a{
    text-decoration: none;
    background-color:lightgrey;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:lightblue;
}
.navbar-custom .icon-bar {
    background-color:lightgrey;
}

  .badge-notify{
    background:red;
    position:relative;
    top: -20px;
    
 }
   
 



 
