<app-main></app-main>

<div class="col-sm-12 col-md-10 col-lg-9 card mt-5 mx-auto" style="padding:0%;margin-left:0%;margin-right:0%;width: 100%">
        <div class="card">
        <div class="card-header text-center" appBackgroundColor><strong> Most Brought Items management</strong></div>
        
        <div></div>
        <div></div>

        <div><img src="/assets/most_items_bought.png" width='100%' height='60%' alt="Graph representing the most bought items"></div>


        <!---<div class="col-12 col-md-10 col-lg-8" style="padding:0.5%;margin-left:15.5%; margin-top:2px">
          <div class="table-responsive">
              <div class="card card-sm" appBackgroundColor>
                <div class="card-body row no-gutters align-items-center">
                    <label> Search By - &nbsp;&nbsp;</label>
                  <div class="dropdown">  
                   <select class="form-control" #selectedValue>
                      <option value="assignee">Task Type</option>
                      <option value="assetModelName">Website</option>
                    </select>
                  </div>
                  <div class="col">
                     <input class="form-control" name="searchName"  [(ngModel)]="searchText" type="search" #username placeholder="Enter Details">
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-success" (click)="searchUser(username.value,selectedValue.value)" [disabled]="searchdisabled" type="submit">Search</button>
                  </div>
                </div>

              </div>
            </div>
          </div>-->
        <!--
          <div *ngIf="taskDetails && taskDetails.length>0">
                <form (ngSubmit)="addUser(assetForm)" #assetForm=ngForm class="form-group">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped">
                      <thead appBackgroundColor>
                        <tr>
                          <th scope="col">S No.</th>
                          <th scope="col">Item Id</th>
                          <th scope="col">Item Name</th>
                          <th scope="col">Number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let task of taskDetails;let i = index;">
                          <td>{{i+1}}</td>
                          <td>{{task.taskType}}</td>
                          <td>{{task.website}}</td>
                          <td>{{task.tasktitle}}</td>
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
              </div>
            -->







</div>
</div>
